<div class="container mt-5">
  <h2 class="text-center">Scan Management</h2>

  <div *ngIf="notification" class="alert alert-info" role="alert">
    {{ notification }}
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <button mat-raised-button color="primary" class="w-100" (click)="this.uploadScans = !this.uploadScans">Upload New CT Study</button>
    </div>
    <div class="col-md-6">
      <button mat-raised-button color="accent" class="w-100" (click)="this.viewScans = !this.viewScans">View Previous Scans</button>
    </div>
  </div>

  <div class="mb-4">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Search Previous Scans</mat-label>
      <input matInput [(ngModel)]="searchTerm" (input)="filterScans()" placeholder="Search by study name or date">
    </mat-form-field>
  </div>
  <div *ngIf="uploadScans">
    <app-scan-upload></app-scan-upload>
  </div>
  <div *ngIf="viewScans">
    <app-scan-table [filteredScans]="filteredScans"></app-scan-table>
  </div>
</div>
