<mat-dialog-content class="container-fluid p-3" style="max-height: 70vh; overflow-y: auto; display: block;">

  <form [formGroup]="fieldForm" (ngSubmit)="addField()">
    <mat-form-field class="w-100">
      <mat-label>Field Label</mat-label>
      <input matInput type="text" formControlName="label"/>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Field Type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="text">Text</mat-option>
        <mat-option value="textarea">Textarea</mat-option>
        <mat-option value="radio">Radio</mat-option>
        <mat-option value="checkbox">Checkbox</mat-option>
      </mat-select>
    </mat-form-field>

    <div
      *ngIf="
    fieldForm.get('type')?.value === 'radio' ||
    fieldForm.get('type')?.value === 'checkbox'
  "
    >
      <mat-form-field class="w-100">
        <mat-label>Options</mat-label>
        <input matInput type="text" #optionInput />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        class="m-3"
        type="button"
        (click)="addOption(optionInput.value)"
      >
        Add Option
      </button>
      <mat-list>
        <mat-list-item *ngFor="let opt of fieldForm.get('options')?.value; let i = index">
          {{ opt }}
          <button mat-icon-button color="warn" (click)="removeOption(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>

    <mat-dialog-actions class="d-flex justify-content-center p-3">
      <button mat-raised-button type="submit" color="primary">Add Field</button>
    </mat-dialog-actions>
  </form>

  <form
    *ngIf="formFields.length > 0"
    [formGroup]="dynamicForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="w-100 mb-3">
      <mat-label>Title</mat-label>
      <input matInput required type="text" [disabled]="!isNew" formControlName="title" />
    </mat-form-field>
    <div *ngFor="let field of formFields" class="form-group border p-3 mb-3 rounded bg-light">
      <div class="row align-items-center">
        <div class="col-md-9">
          <mat-form-field class="w-100" *ngIf="field.type === 'text'">
            <mat-label>{{ field.label }}</mat-label>
            <input matInput type="text"/>
          </mat-form-field>

          <mat-form-field class="w-100" *ngIf="field.type === 'textarea'">
            <mat-label>{{ field.label }}</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>

          <div *ngIf="field.type === 'radio'" class="radio-group">
            <mat-label class="d-block">{{ field.label }}</mat-label>
            <mat-radio-group>
              <mat-radio-button *ngFor="let option of field.options" [value]="option" class="me-3">
                {{ option }}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div *ngIf="field.type === 'checkbox'" class="checkbox-group">
            <mat-label class="d-block">{{ field.label }}</mat-label>
            <div class="d-flex flex-wrap">
              <mat-checkbox *ngFor="let option of field.options" [value]="option" class="me-3">
                {{ option }}
              </mat-checkbox>
            </div>
          </div>
        </div>

        <div class="col-md-2 text-end">
          <button mat-raised-button color="warn" type="button" class="btn btn-danger btn-sm" (click)="removeField(field.name)">
            <mat-icon>delete</mat-icon> Remove
          </button>
        </div>
      </div>
    </div>
    <mat-dialog-actions class="d-flex justify-content-center p-3">
      <button *ngIf="isNew" mat-raised-button mat-dialog-close color="primary" type="submit">
        Submit
      </button>
      <button *ngIf="!isNew" mat-raised-button mat-dialog-close color="primary" type="button" (click)="updateBodyTemplate()">
        Update
      </button>
      <button *ngIf="!isNew" mat-raised-button mat-dialog-close color="warn" type="button" (click)="deleteBodyTemplate()">
        Delete
      </button>
      <button mat-raised-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
